 <main class="hero">
    <section >
      <h1>Bienvenido a Users Controll</h1>
      <p>Administra usuarios, gestiona roles, y más.</p>
      <a href="/register" class="btn">¡Registrate!</a>
    </section>
  </main>