 <main>
    <section class="hero">
      <h1>Bienvenido a Users System</h1>
      <p>Administra usuarios, gestiona roles, y más.</p>
      <a href="/register" class="btn">¡Registrate!</a>
    </section>
  </main>