<h1>LOGIN</h1>

<form id="loginForm">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required/><br />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required minlength="6" /><br />

  <br />
  <button type="submit">Login</button>
</form>

<script src="/js/login.js"> </script>