<h1 class="titleForm">Inciar sesión</h1>

<form id="loginForm">
  <div >
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required/>
  </div>

  <div >
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="6" />
  </div>
  <div>
    <p><a href="/register">¿No tienes cuenta? Craer cuenta.</a></p>
  </div>
  <button type="submit" class="btnForm">Ingresar</button>
</form>

<script src="/js/login.js"></script>