{{#if allUsers}}
    <div class="admin-table-container">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th class="hidden-on-mobile">Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each allUsers}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.rol}}</td>
                        <td class="hidden-on-mobile">{{this.email}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}

{{#if noUsers}}
    <div class="no-admin-container">
        <p>¡No hay usuarios registrados!.</p>
    </div>
{{/if}}

{{#if noAdmin}}
    <div class="no-admin-container">
        <p>¡Hay un Error!. No tienes permiso al panel, necesitas ser administrador.</p>
    </div>
{{/if}}