{{#if allUsers}}
    <div class="admin-table-container">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="hidden-on-mobile">Rol</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ejemplo de datos, puedes reemplazar con los datos dinámicos -->
                {{#each allUsers}}
                    <tr>
                        <td>{{this.email}}</td>
                        <td class="hidden-on-mobile">{{this.rol}}</td>
                        <td>
                            <div class="actions">
                                <span class="edit-btn">Editar</span>
                                <span class="delete-btn">Eliminar</span>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <div class="no-admin-container">
        <p>¡Hay un Error!. No tienes permiso al panel, necesitas ser administrador.</p>
    </div>
{{/if}}