<div class="profile-container">
    <div class="profile-content">
        <div class="profile-info">
            <h2 class="profile-name">Nombre {{user.name}}</h2>
            <p class="profile-url">{{user.email}}</p>
            <span class="creation-date">{{user.rol}}</span>
        </div>
        <div class="profile-image">
            <div class="image-upload-container">
                <div class="image-preview">
                    <img id="image-preview" src="/photoUpload.webp" alt="No hay imagen cargada">
                </div>
                <div class="upload-controls">
                    <label for="file-input" class="upload-btn">Imagen</label>
                    <input id="file-input" type="file" accept="image/*" onchange="handleImgUpload(event)" />
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <div class="no-profile-container">
    <p>¡Hay un Error!. Necesitas iniciar sesion para ver tu perfil.</p>
    <a href="/login">Inciar sesion</a>
</div> --}}
