<h1>Crear cuenta</h1>

<form id="registerForm">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required/>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="6" />
  </div>

  <button type="submit">Singup</button>
</form>

<script src="/js/register.js"> </script>