<h1>REGISTRO</h1>

<form id="registerForm">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required/><br />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required minlength="6" /><br />

  <br />
  <button type="submit">SingUp</button>
</form>

<script src="/js/register.js"> </script>