*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4; /* Fondo suave */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* stylo para el index */
header {
    background-color: #2f91d3;
    color: #fff;
    padding: 10px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; Para asegurarte de que esté sobre otros elementos */
}
header h1 {
    font-size: x-large;
}
header .btn-dynamic{
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin: 100px auto 50px; /* Aumenté el margen superior para compensar el espacio del header */
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #2f91d3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #188ad6;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #464646;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.none_tag{
    display: none;
}


/* style of the forms */
form {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más definida */
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    margin: 0 auto; 
    margin-top: 50px; 
}

form div{
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}


/* style of profile */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contenido del perfil */
.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Información del perfil */
.profile-info {
    width: 60%;
}

.profile-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.profile-url {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 8px;
}

.creation-date {
    font-size: 0.9rem;
    color: #777;
}

/* Imagen de perfil y carga de imágenes */
.profile-image {
    width: 35%;
}

.image-upload-container {
    text-align: center;
    height: auto;
}

/* Vista previa de la imagen */
.image-preview {
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.image-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Controles de carga de imagen */
.upload-controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.upload-controls label {
    cursor: pointer;
}

.upload-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #45a049;
}

#file-input {
    display: none;
}

/* style the panel */
.admin-table-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.admin-table {
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid #ddd;
}
.admin-table thead {
    background-color: #333;
    color: white;
}

.admin-table th, 
.admin-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #45a049;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e53935;
}

/* modal no hay perfil */
.no-profile-container{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más definida */
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
}
.no-profile-container p{
    margin-bottom: 10px;
}
.no-profile-container a{
    background-color: #4CAF50;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}
/* modal no tienes acceso al panel */
.no-admin-container{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más definida */
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 640px) {
    .profile-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info {
        width: 100%;
    }

    .profile-image {
        width: 100%;
    }

    .image-preview {
        height: 200px;
    }
    .hidden-on-mobile {
        display: none;
    }
}