<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Users System</h1>
        <nav>
            <ul>
                <li><a href="/register">Singup</a></li>
                <li class="none_tag"><a href="/login">Login</a></li>
                <li class="none_tag"><a href="/">Cerrar session</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>&copy; 2024 Gestor de Usuarios. Todos los derechos reservados.</p>
    </footer>
</body>
</html>