<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/">
            <h1>User Controll</h1>
        </a>
        <div>
            {{!-- ruta y el valor son dinamicos, segun la vista --}}
            {{!-- <a href="/register" class="btn-dynamic" id="btnRegister">Registrarse</a>
            <span class="btn-dynamic" id="btnName">My name</span> --}}
            <div class="dropdown">
                <button class="dropdown-toggle">
                    <span>▼</span> <!-- Flecha para activar el menú -->
                </button>
                <div id="dropdown-menu" class="dropdown-menu">
                    <ul>
                        <li><a href="/user/profile">Perfil</a></li>
                        <li><a href="/user/panel">Panel</a></li>
                        <li><span id="btn-logout">Logout</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Desarrollado por <a href="https://www.linkedin.com/in/geiderfrias/">Geider Frias</a>.</p>
    </footer>
</body>
</html>

<script>
    function toggleMenu() {
        const menu = document.getElementById('dropdown-menu');
        menu.classList.toggle('active');
    }
    function setLogout (){
        fetch('/user/logout',{
            method: 'POST'
        })
        .then(res => res.json())
        .then(res => {
            console.log(res)
            if(res.success){
                window.location.href = '/'
            }
        })
        .catch(e => console.log(e))
    }
    const btnToggle = document.querySelector('.dropdown-toggle')
    btnToggle.addEventListener('click',toggleMenu)

    const btnLogout = document.getElementById('btn-logout')
    btnLogout.addEventListener('click',setLogout)
</script>